//cores
$theme-colors: (
  primary: #51663e,
  secondary: #adbba0,
  tertiary: #7f9170,
  search: #bfe59e,
  accent: #2a3c1a,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #fdfdfd,
  dark: #343a40 
);

@import '../node_modules/bootstrap/scss/bootstrap';

//fontes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;800&display=swap');

//css do projeto
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}